aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
dataclasses-json
distro
exceptiongroup
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
googleapis-common-protos
grpcio
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
importlib_metadata
iniconfig
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-aws
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langsmith
lz4
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy_extensions
narwhals
networkx
numpy
openai
orjson
packaging
pandas
pillow
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
pluggy
propcache
protobuf
protoc-gen-openapiv2
py-cpuinfo
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pytest
pytest-asyncio
pytest-benchmark
pytest-codspeed
pytest-recording
pytest-socket
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
simsimd
six
smmap
sniffio
SQLAlchemy
starlette
streamlit
sympy
syrupy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomli
torch
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
vcrpy
watchdog
wrapt
yarl
zipp
zstandard
